<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Document</title>
</head>
<body >
    <div style="margin: 30px; background-color: #bebebe;"class="p-3 mb-2  text-white" >
    <h1 style="color: blue;">INGRESE UN <br> PRODUCTO</h1>
    <form 
        action="/api/productos"
        method="post"
    >
      <span class="text-dark"><b>Nombre:</b>  <br><input name="title"><br></span>
      <span class="text-dark"><b> precio:</b> <br> <input name="price" type="number"><br></span>
        <span class="text-dark"><b>imagen:</b> <br></span>
            <input name="thumbnail"  >
        
        <br><br>
        <a href="/list"><button type="submit" class="btn btn-success">Enviar</button></a>
        
    </form>

    <a href="/list">Mostrar lista de libros</a>
</div>
</body>
</html>