<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      
    
        <table>
            <tr>
                <th>Titulo</th>
                <th>precio</th>
                <th>Imagen</th>
            </tr>
            <% list.forEach((productos) => { %>
                
                <tr>
                    <td><%= productos.title %></td>
                    <td><%= productos.price %></td>
                    <td><img src="<%= productos.thumbnail %>" width="100px;"></td>
                </tr>
            <% }) %>
        </table>
    <% } %>

<a href="/">Ingresar nuevo producto</a>

</body>
</html>